---
import HomeLayout from '$layouts/HomeLayout.astro';
import SocialNav from '$components/SocialNav.astro';

import { Content } from './_about.md';
---

<HomeLayout
	title="About — Sid Vishnoi — Independent software engineer, full-stack developer"
	hideSocial
>
	<header class="header" id="main">
		<h1 class="title">
			<a href="/"><span>Sid</span> <span>Vishnoi</span></a>
		</h1>
		<h2 class="subtitle">About</h2>
	</header>

	<Content />

	<SocialNav />
</HomeLayout>

<style is:global>
	main {
		max-width: calc(100% - 2 * var(--border-thickness));
		margin: 0 auto;
		padding: 0 1em 1em;
		font-size: calc(16px + (20 - 16) * (100vw - 320px) / (750 - 320));
	}

	p {
		max-width: 65ch;
		margin: auto;
	}

	p + p {
		margin-top: 1em;
	}

	a {
		color: var(--color-d-alt, blue);
	}

	br {
		display: block;
		margin-top: 0.25em;
	}

	hr {
		margin: 2em auto;
		border: 2px solid var(--color-c, aquagreen);
		border-radius: 10px;
		max-width: 60%;
	}

	main .social {
		margin-top: 2em;
		justify-content: center !important;
	}
</style>
