---
import IconGitHub from './IconGitHub.astro';
import IconLinkedIn from './IconLinkedIn.astro';
---

<section class="contact">
	<h2>Contact</h2>
	<dl>
		<dt>
			<strong aria-hidden="true" class="no-select">e.</strong>
			<span class="visually-hidden">Email</span>
		</dt>
		<dd>
			<a href="mailto:hire@sidvishnoi.com">hire@sidvishnoi.com</a>
		</dd>

		<dt>
			<strong aria-hidden="true" class="no-select">w.</strong>
			<span class="visually-hidden">Website</span>
		</dt>
		<dd>
			<a href="https://www.sidvishnoi.com">sidvishnoi.com</a>
		</dd>

		<dt style="margin-top: 1em">
			<IconGitHub />
			<span class="visually-hidden">GitHub</span>
		</dt>
		<dd style="margin-top: 1em;">
			<a href="https://www.github.com/sidvishnoi">github.com/sidvishnoi</a>
		</dd>

		<dt>
			<IconLinkedIn />
			<span class="visually-hidden">LinkedIn</span>
		</dt>
		<dd>
			<a href="https://www.linkedin.com/in/sudhanshu-vishnoi/"
				>linkedin.com/in/sudhanshu-vishnoi</a
			>
		</dd>
	</dl>
</section>
