<section class="education">
	<h2>Education</h2>
	<article>
		<h3>Masters in Computer Applications</h3>
		<p>University of Delhi</p>
		<time datetime="156w">2016 &ndash; 2019</time>
	</article>
	<article>
		<h3>B.Sc. Physics (H)</h3>
		<p>University of Delhi</p>
		<time datetime="156w">2013 &ndash; 2016</time>
	</article>
</section>
