---
import IconPdf from './IconPdf.astro';
---

<header class="header">
	<h1><span>Sid</span> <span>Vishnoi</span></h1>
	<p>Software Engineer / Web Developer</p>
	<a
		rel="alternate"
		type="application/pdf"
		href="/resume/sudhanshu-vishnoi-resume.pdf"
		class="with-icon noprint"
		title="Download Resume as PDF"
	>
		<IconPdf />
		PDF version
	</a>
</header>
