<section class="open-source">
  <h2>Open Source Contributions</h2>
  <article>
    <h3>Mozilla</h3>
    <ul>
      <li>
        Refactored and updated Geolocation API in Gecko to match
        specification changes, exposing various interfaces to JavaScript.
      </li>
      <li>Fixed representation of sparse arrays in Firefox Devtools.</li>
      <li>
        Increased performance of Firefox Performance Dashboard by 400%.
      </li>
    </ul>
  </article>
  <article>
    <h3>W3C</h3>
    <ul>
      <li>
        Developed a GitHub Action to automate generation, validation and
        publishing of W3C specifications.
      </li>
    </ul>
  </article>
</section>
