<section class="projects no-border" style="page-break-before: always;">
	<h2>Projects</h2>
	<article>
		<header>
			<h3>Unix Socket Chat Application</h3>
			<a href="https://gbp.sidvishnoi.com/socket-chat"
				>gbp.sidvishnoi.com/socket-chat</a
			>
		</header>
		<ul>
			<li>Made use of Unix network sockets API (C++).</li>
			<li>
				Features user authentication, multiple chat-rooms and private messaging
				&amp; terminal based user interface (inspired by IRC).
			</li>
		</ul>
	</article>
	<article>
		<header>
			<h3>Bleu</h3>
			<a href="https://gbp.sidvishnoi.com/bleu">gbp.sidvishnoi.com/bleu</a>
		</header>
		<ul>
			<li>
				Developed a fully featured and extensible static site generator using
				Node.js.
			</li>
			<li>
				Reduced build time by only building updated files and their
				dependencies.
			</li>
		</ul>
	</article>
	<article>
		<header>
			<h3>Merge Facebook feeds</h3>
			<a href="https://gbp.sidvishnoi.com/fb-dev-interest"
				>gbp.sidvishnoi.com/fb-dev-interest</a
			>
		</header>
		<ul>
			<li>
				Created Chrome extension that filters Facebook Dev Circle groups to get
				only the posts of your interest in your feed.
			</li>
			<li>Won Facebook Developer Circles Challenge 2017.</li>
		</ul>
	</article>
</section>
