<section class="skills">
	<h2>Technical Exposure</h2>
	<ul>
		<li><strong>Programming Languages:</strong> C++, Python, Rust</li>
		<li>
			<strong>Web Development</strong>
			<ul>
				<li>JavaScript, TypeScript, Node.js</li>
				<li>HTML; CSS, Sass, CSS in JS</li>
				<li>React, Svelte, HyperHTML</li>
			</ul>
		</li>
		<li>
			<strong>Cloud & Automation:</strong> AWS, Google Cloud, Cloudflare, GitHub
			Actions, Docker
		</li>
	</ul>
</section>
