---
import { getCollection } from 'astro:content';

import HomeLayout from '$layouts/HomeLayout.astro';
import Header from '$components/PageHeader.astro';
import Heading from '$components/Heading.astro';

const allPosts = (await getCollection('blog')).sort(
	(a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<HomeLayout title="Sid Vishnoi's blog">
	<Header />
	<Heading tag="h2">Blog</Heading>

	<div id="main" class="blog">
		<ul>
			{
				allPosts.map((post) => (
					<li>
						<article>
							<h3>
								<a href={`/blog/${post.id}/`}>{post.data.title}</a>
							</h3>

							<p>{post.data.description}</p>

							<div class="meta">
								<p>
									<span class="sr-only">Published </span>
									<time datetime={post.data.date.toISOString()}>
										{post.data.date.toLocaleDateString('en', {
											dateStyle: 'medium',
										})}
									</time>
								</p>
							</div>
						</article>
					</li>
				))
			}
			{!allPosts.length && <p>Coming soon</p>}
		</ul>
	</div>
</HomeLayout>

<style is:global>
	main * {
		margin: 0;
		padding: 0;
	}

	main {
		margin: 0 auto;
		padding: 0 1em 1em;
		font-size: clamp(1em, 18px + 0.24vw, 2.125em);
	}

	.blog {
		padding-bottom: 4em;
	}

	.blog ul {
		list-style: none;
		margin: 0;
	}

	.blog li {
		padding: 1em;
		max-width: 80ch;
		margin: 0 auto;
		position: relative;
	}

	.blog li + li {
		margin-top: 0.5em;
	}

	.blog li a::after {
		content: '';
		position: absolute;
		inset: 0;
	}

	.blog p {
		max-width: 80ch;
		padding: 0 0.5em;
		margin-top: 0.25em;
	}

	.blog .meta {
		font-size: smaller;
		text-align: right;
	}
	.blog .meta p {
		font-size: smaller;
		margin-left: 0;
		max-width: 100%;
		color: var(--color-alt);
	}

	.blog h3 {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		font-size: 1.2em;
		line-height: 1.1;
	}

	.blog h3:after {
		content: '';
		display: block;
		flex: 1;
		height: 1em;
		background: transparent;
	}

	.blog:not(:focus-within) li:hover h3:after,
	.blog li:focus-within h3:after {
		background: var(--color-dark);
	}

	.blog:hover li:hover,
	.blog li:focus-within {
		background: var(--color-light);
	}

	.blog h3 a {
		color: var(--color);
		background: transparent;
		padding: 0.2em 0.5em;
		text-decoration: none;
	}

	.blog:not(:focus-within) li:hover h3 a,
	.blog h3 a:focus {
		color: var(--background);
		background: var(--color);
		outline: none;
	}

	@media (max-width: 640px) {
		main {
			padding: 0 0.25em 1em;
		}
		main > header,
		main > .heading {
			padding-inline: 0.5em;
		}
		.blog {
			padding: 0;
		}
		.blog li {
			text-align: left;
			padding: 1em 0;
		}
		.blog li:last-of-type {
			padding-bottom: 1em;
		}
		.blog p {
			width: 100%;
		}
	}
</style>
