---
import Logo from '$assets/logo.svg';

interface Props {
	noBorder?: boolean;
}

const { noBorder = false } = Astro.props;
---

<nav class:list={noBorder ? '' : 'border'}>
	<ul>
		<li class="home">
			<a href="/">
				<Logo />
				<span>Sid Vishnoi</span>
			</a>
		</li>
		<li><a href="/about/">About</a></li>
		<li><a href="/blog/">Blog</a></li>
	</ul>
</nav>

<style>
	nav {
		margin: 0rem auto 2rem;
		font-size: clamp(1em, 16px + 0.24vw, 2em);
	}

	nav.border {
		border-bottom: 2px solid var(--color-alt);
	}

	nav ul {
		margin: 0;
		display: flex;
		padding: 1em 0 0.5em;
		list-style: none;
		gap: 1em;
		width: 100%;
		justify-content: flex-end;
		align-items: center;
	}

	nav li {
		margin: 0;
		padding: 0;
	}

	nav a {
		text-decoration: none;
		color: var(--color);
	}

	nav a:hover {
		color: var(--color-link);
	}

	nav li.home {
		margin-right: auto;
		text-transform: uppercase;
		font-weight: bold;
		position: relative;

		a {
			display: inline-flex;
			align-items: center;

			svg {
				position: absolute;
				height: 1.75em;
				fill: currentColor;
			}

			span {
				margin-left: 1.75em;
			}
		}
	}
</style>
