:root {
	--font-family: Optima, Candara, Avenir, Corbel, 'URW Gothic', Montserrat,
		'Noto Sans', source-sans-pro, sans-serif;

	--border-thickness: 10px;
	--color-a: hsl(44, 86%, 52%);
	--color-a-alt: hsl(44, 86%, 42%);
	--color-b: hsl(325, 62%, 56%);
	--color-b-alt: hsl(325, 62%, 46%);
	--color-c: hsl(140, 72%, 41%);
	--color-c-alt: hsl(140, 72%, 31%);
	--color-d: hsl(201, 90%, 43%);
	--color-d-alt: hsl(201, 90%, 31%);

	--background: #fff;
	--color: #111;
	--color-link: var(--color-d-alt, blue);
	--color-alt: #555;
	--color-dark: hsl(241, 85%, 70%);
	--color-light: hsl(241, 85%, 90%);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #111;
		--color: rgb(217, 217, 217);
		--color-link: var(--color-d, blue);
		--color-alt: rgb(150, 150, 150);
		--color-dark: hsl(241, 57%, 23%);
		--color-light: hsl(241, 89%, 14%);
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	line-height: 1.4;
	position: relative;
	padding: var(--thickness);
	background: var(--background);
	color: var(--color);
	font-family: var(--font-family);
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: var(--color-link, blue);
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
#jump-to-main:focus {
	position: fixed;
	clip: initial;
	height: auto;
	width: auto;
	margin: 0;
	background: var(--color);
	color: var(--background);
	z-index: 99;
	font-size: 1rem;
	padding: 0.5rem;
}

.splash-borders {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	--thickness: var(--border-thickness);
}
.splash-borders > div {
	width: 100%;
	position: absolute;
}
.splash-borders > div::after {
	content: '';
	display: block;
	height: var(--thickness);
	left: calc(50% - var(--thickness) * 2.5);
	position: absolute;
	top: 0;
	width: calc(var(--thickness) * 5);
}
.splash-borders > div,
.splash-borders > div::after {
	background: linear-gradient(
		var(--angle),
		var(--color-1) 0,
		var(--color-1) 50%,
		var(--color-2) 0,
		var(--color-2)
	);
}
.splash-borders .top {
	--angle: 90deg;
	--color-1: var(--color-a);
	--color-2: var(--color-b);
}
.splash-borders .top::after {
	--angle: 25deg;
}
.splash-borders .right {
	--angle: 180deg;
	--color-1: var(--color-b);
	--color-2: var(--color-c);
	right: 0;
	top: 0;
}
.splash-borders .right::after {
	--angle: -55deg;
	--color-1: var(--color-c);
	--color-2: var(--color-b);
}
.splash-borders .bottom {
	--angle: 90deg;
	--color-1: var(--color-d);
	--color-2: var(--color-c);
	bottom: 0;
	top: auto;
}
.splash-borders .bottom::after {
	--angle: 25deg;
}
.splash-borders .left {
	--angle: 180deg;
	--color-1: var(--color-a);
	--color-2: var(--color-d);
	left: 0;
	top: 0;
}
.splash-borders .left::after {
	--angle: -55deg;
	--color-1: var(--color-d);
	--color-2: var(--color-a);
}
.splash-borders .top,
.splash-borders .bottom {
	height: var(--thickness);
}
.splash-borders .right,
.splash-borders .left {
	height: 100%;
	width: var(--thickness);
}
.splash-borders .right::after,
.splash-borders .left::after {
	height: calc(var(--thickness) * 5);
	left: auto;
	right: 0;
	top: calc(50% - var(--thickness) * 2.5);
	width: var(--thickness);
}

.header,
.container-main {
	max-width: calc(100% - 2 * var(--border-thickness));
	margin: 0 auto;
}

.header {
	text-align: center;
	line-height: 1.2;
	padding: 8vmin 1vmin;
}
.title {
	font-size: 8vmin;
	text-transform: uppercase;
}
.title a {
	text-decoration: none;
	color: var(--color);
}
.subtitle {
	font-size: 5vmin;
	font-weight: normal;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: calc(1em + var(--border-thickness));
}

.button {
	--bg-color: #eeb81d;
	--bg-color-alt: #eeb81d;
	--text-color: #000;
	outline: none;
	text-decoration: none;
	background-color: var(--bg-color);
	display: inline-block;
	padding: 0.8rem;
	text-transform: uppercase;
	font-weight: bold;
	color: var(--text-color);
	box-shadow: 8px 7px 0px 0px var(--bg-color-alt);
	transition: all 0.2s cubic-bezier(0.18, 0.74, 0.27, 0.86);
}
.button:hover,
.button:active,
.button:focus {
	cursor: pointer;
	right: 2px;
	top: 2px;
	box-shadow: -8px -7px 0px 0px var(--bg-color-alt);
}
nav.primary {
	display: flex;
	flex-wrap: wrap;
	padding: 1rem;
	justify-content: center;
}
nav.primary a {
	margin: 0 0.8rem;
}
nav.primary a:first-child {
	margin-left: 0;
}
nav.primary a:last-child {
	margin-right: 0;
}
nav.primary a:nth-child(1) {
	--bg-color: var(--color-b);
	--bg-color-alt: var(--color-b-alt);
}
nav.primary a:nth-child(2) {
	--bg-color: var(--color-a);
	--bg-color-alt: var(--color-a-alt);
}
nav.primary a:nth-child(3) {
	--bg-color: var(--color-c);
	--bg-color-alt: var(--color-c-alt);
}
@media (max-width: 640px) {
	nav.primary a {
		padding: 0.4rem;
	}
}

@media (max-width: 28em) {
	header section {
		padding-right: 0;
	}
}

fieldset {
	border: none;
}

@media (prefers-color-scheme: dark) {
	.splash-borders > div,
	nav.primary a {
		filter: saturate(85%);
	}
}
