:root {
	--color-bg: #fff;
	--color-fg: #111;
	--color-link: #0d4ac5;
	--color-border: #ccc;
	--color-link-hover: 116deg;

	--font-family:
		'Source Sans Pro', 'Lato', 'Helvetica', 'Open Sans', 'Arial', sans-serif;
	--font-monospace: 'DejaVu Sans Mono', 'Fira Code', 'Courier New', monospace;
	--border-main: 2px solid var(--color-border);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-bg: #181616;
		--color-fg: #e5e5e5;
		--color-border: #312c2c;
		--color-link: #5684e2;
		--color-link-hover: 210deg;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	line-height: 1.4;
}

body {
	background: var(--color-bg);
	color: var(--color-fg);
	width: 100%;
	max-width: 21cm;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	font-family: var(--font-family);
	text-rendering: optimizeLegibility;
	padding: 2.5rem;
}

.icon {
	max-width: 16px;
	margin-right: 0.5em;
	user-select: none;
	display: inline-block;
}

a {
	color: var(--color-link);
}

a:hover,
a:focus {
	outline: none;
	background: hsl(var(--color-link-hover, 116deg) 100% 50% / 30%);
	box-shadow: 0px 0 0 0.1em
		hsl(calc(var(--color-link-hover, 116deg) + 60deg) 100% 50% / 30%);
}

.monospace {
	font-family: var(--font-monospace);
}

.no-select {
	user-select: none;
}

.visually-hidden {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	white-space: nowrap;
}

h1,
h2,
strong {
	font-weight: 700;
}

.with-icon {
	display: flex;
	align-items: center;
}

address {
	font-style: normal;
}

li {
	margin-left: 1em;
}

.header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.6em;
}

.header h1,
.header .tagline {
	line-height: 1.2;
	text-transform: uppercase;
}

.header h1 {
	font-size: 2.6em;
}

.header .tagline {
	font-weight: 400;
	font-size: 1.2em;
}

.contact {
	font-size: 0.85em;
}
.contact {
	display: flex;
	flex-direction: column;
	gap: 0.1em;
	align-items: end;
}
.contact div {
	display: inline-flex;
	align-items: center;
	gap: 0.4em;
}
.contact svg {
	width: 12px;
}

.summary {
	line-height: 1.4;
}

a[rel='alternate'] {
	position: absolute;
	top: 1em;
	right: 1em;
	font-size: 14px;
}

h2 {
	margin: 0.5em 0 0.25em;
	font-size: 1.3rem;
	line-height: 1.4;
	text-transform: uppercase;
	position: relative;
}

h2:after {
	position: absolute;
	display: block;
	content: '';
	width: 40px;
	height: 0;
	border-bottom: var(--border-main);
}

h3 {
	font-size: 1rem;
}

main {
	padding-top: 0.2em;
}

main section + section {
	margin: 1em 0;
}

article + article {
	margin-top: 0.8em;
}

.experience article header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.1em;
}

.education article {
	display: grid;
	grid-template-columns: 1fr auto auto;
	gap: 0.5em;
}
.education article + article {
	margin-top: 0.2em;
}

.references p + p {
	margin-top: 0.2em;
}

.skills li ul,
.skills li ul li {
	display: inline;
	list-style: none;
	margin: 0;
}

.projects article header > * {
	display: inline-block;
}

.projects article header a::before {
	color: initial;
	content: '(';
}
.projects article header a::after {
	color: initial;
	content: ')';
}

@media only print {
	.noprint {
		display: none;
	}

	abbr {
		text-decoration: none;
	}

	section.no-border::before {
		border-top: 0;
	}

	body {
		/* A4 sheet */
		width: 21cm;
		/* height: 29.7cm;
    max-height: 29.7cm; */
	}
}

@media screen and (max-width: 42em) {
	body {
		width: 100%;
		height: 100%;
		padding: 1rem;
	}
	.header {
		flex-direction: column;
		align-items: start;
		gap: 0.5em;
	}
	.header h1 {
		margin-top: 0.5em;
		font-size: 2em;
	}
	.header .tagline {
		font-size: 1em;
	}
	.summary {
		font-size: 0.9em;
	}
	.experience article header {
		display: block;
	}
	.education article + article {
		margin-top: 0.5em;
	}
	.education article {
		display: block;
	}
	.education > div:nth-child(n + 1) {
		padding: 0.4em 0;
	}
	.contact {
		flex-direction: column;
		align-items: flex-start;
	}
}
