---
import BaseLayout, { type Props as Props_ } from '$layouts/BaseLayout.astro';
import '$assets/style.css';

import SocialNav from '$components/SocialNav.astro';

export type Props = Props_ & {
	hideSocial?: boolean;
};
const { title, preload, meta, hideSocial = false } = Astro.props;
---

<BaseLayout {title} {preload} {meta}>
	<slot slot="head" name="head" />

	<a href="#main" class="visually-hidden" id="jump-to-main"
		>Jump to main content</a
	>

	<div class="splash-borders">
		<div class="top"></div><div class="right"></div><div class="bottom">
		</div><div class="left"></div>
	</div>

	<main>
		<slot />
	</main>

	<footer class="footer">
		{!hideSocial && <SocialNav />}
	</footer>
</BaseLayout>
